/* FOOTER BASE */
.footer {
  width: 100%;
  background: linear-gradient(135deg, #351165, #d341bf);
  color: rgb(241, 236, 236);
  padding: 1px 2px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  font-family: "Poppins", sans-serif;
  bottom: 0;

}

/* LEFT SECTION */
.footer-left {
  text-align: center;
}

.footer-logo {
  font-size: 28px;
  font-weight: bold;
}

.footer-desc {
  font-size: 14.5px;
  opacity: 0.95;
  margin-top: 8px;
}

/* SOCIAL ICONS */
.footer-social {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-social a {
  font-size: 24px;
  color: rgb(222, 230, 12);
  transition: 0.3s ease;
}

.footer-social a:hover {
  transform: scale(1.2);
  color: #fbbf24;
}

/* LINKS */
.footer-links {
  text-align: center;
}

.footer-link {
  color: #52b945;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.footer-link:hover {
  color: #fbbf24;
}

/* COPYRIGHT SECTION */
.footer-copy {
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
}

.footer-copy span {
  font-weight: bold;
  color: #fcd34d;
}

/* MOBILE RESPONSIVE */
@media (max-width: 480px) {
  .footer {
    padding: 1px 3px;
    width: auto;
  }

  .footer-logo {
    font-size: 24px;
  }

  .footer-link {
    font-size: 16px;
  }

  .footer-copy {
    font-size: 13px;
  }
}
