.home-container {
  text-align: center;
  /* padding: 20px; */
  width: 100%;
  padding-bottom: 20px;
  margin-top: 33px;
  height: 50%;
  
  }

/* Title Text */


/* Slider Box */
.slider-box {
  /* width: 100%; */
  /* max-width:auto; */
  /* min-width: 2px; */
  margin: auto;
  overflow: hidden;
  border: solid 2px;
  box-shadow: inset(00.5s);
  height: 30%;
  border-radius: 32px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Slider Image */
.slider-img {
  width: 100%;
  height: auto;
  border-bottom: 112px;
  transition: opacity 0.8s ease-in-out;
}
@media(max-width:480px){
  .home-container {
  text-align: center;
  /* padding: 20px; */
  width: 100%;
  padding-bottom: 10px;
  margin-top: 0px;
  height: 50%;
  
  }


}