.auth-box {
  max-width: 350px;
  margin: auto;
  padding: 20px;
  margin-top: 80px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border-radius: 12px;
}

.auth-box input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
}
